numpy
opencv
scikit-learn
torch
torchvision
torchsummary
torchviz
pytorch
anaconda
conda-forge
cudatoolkit
numpy
opencv-python
pillow
pip
python
pytorch
torchvision
tensorboard
matplotlib
scikit-learn
opencv-python
thop
einops
sh
skvideo